<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836920854375-v9cfrirp25n6qeg09tu7jeitn53e37l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836920854375-v9cfrirp25n6qeg09tu7jeitn53e37l3</string>
	<key>API_KEY</key>
	<string>AIzaSyDFfw8XWotYgpCkU1rOYMEu7zcxBGR_moc</string>
	<key>GCM_SENDER_ID</key>
	<string>836920854375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rocod.iDine</string>
	<key>PROJECT_ID</key>
	<string>idine-bc6b4</string>
	<key>STORAGE_BUCKET</key>
	<string>idine-bc6b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836920854375:ios:4ca4f850af94b4e9ba91c2</string>
	<key>DATABASE_URL</key>
	<string>https://idine-bc6b4.firebaseio.com</string>
</dict>
</plist>